doctype html
html
    head
        title
        link(rel="stylesheet", href="/style.sass")
    body
        ul.colors
            li.rectangle
                .rectangle__dark100.rectangle_item
                .color-name Dark Shade 100%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark75.rectangle_item
                .color-name Dark Shade 75%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark50.rectangle_item
                .color-name Dark Shade 50%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark25.rectangle_item
                .color-name Dark Shade 25%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark5.rectangle_item
                .color-name Dark Shade 5%
                .color-code #1F2041
            li.rectangle
                .rectangle__purple.rectangle_item
                .color-name Purple
                .color-code #BC9CFF
            li.rectangle
                .rectangle__green.rectangle_item
                .color-name Green
                .color-code #6FCF97
        