doctype html
html
    head
        title
        link(rel="stylesheet", href="/style.sass")
    body
        .logo
            img(src="../icons/logo.svg")
        ul.colors
            li.rectangle
                .rectangle__dark100.rectangle_item
                .color-name Dark Shade 100%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark75.rectangle_item
                .color-name Dark Shade 75%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark50.rectangle_item
                .color-name Dark Shade 50%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark25.rectangle_item
                .color-name Dark Shade 25%
                .color-code #1F2041
            li.rectangle
                .rectangle__dark5.rectangle_item
                .color-name Dark Shade 5%
                .color-code #1F2041
            li.rectangle
                .rectangle__purple.rectangle_item
                .color-name Purple
                .color-code #BC9CFF
            li.rectangle
                .rectangle__green.rectangle_item
                .color-name Green
                .color-code #6FCF97
        ul.fonts
            li.font
                .font-name H1
                .font-description.font-description-h1 This one is the sub-section or widget title
            li.font
                .font-name H2
                .font-description.font-description-h2 Next one is the item title inside widgets
            li.font
                .font-name H3
                .font-description.font-description-h3 THIS IS A LABEL OR CTA TEXT
            li.font
                .font-name Body
                .font-description.font-description-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
        