mixin like-button(object)
    .like-button-clicked
        label.like-button-wrap
            div.like-button-content.material-icons  favorite_border
            input.like-button(name=object.name value=object.value checked=object.checked)
        