.text-field
    +body-text
    display: block
    box-sizing: border-box
    height: 44px
    width: 320px
    padding-left: 15px
    vertical-align: middle
    border: 1px solid $color-4
    border-radius: 4px
    background: transparent
    
.text-field::-webkit-input-placeholder
    color: $color-4

.text-field::-moz-placeholder
    color: $color-4

.text-field:hover::-webkit-input-placeholder
    color: $color-2

.text-field:focus::-webkit-input-placeholder
    color: $color-2

.text-field:hover
    border-color: $color-3

.text-field:focus
    border-color: $color-3
    outline: none
    background: none